@font-face {
    font-family: 'QuinleeSans';
    src: url('QuinleeSans-Regular.woff') format('woff');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'fighting-spirit';
    src: url('fighting-spirit-turbo.regular.ttf') format('woff');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

