/** @format */

.button {
	-ms-flex-align: center;
	align-items: center;
	background: #1a1c1f;
	border: 2px solid #1a1c1f;
	border-radius: 0px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-size: 1em;
	font-weight: 500 !important;
	-ms-flex-pack: center;
	justify-content: center;
	line-height: 2;
	// padding: 0.8em 2.5em;
	padding-left: 40px !important;
	padding-right: 40px !important;
	padding-top: 9px !important;
	padding-bottom: 9px !important;
	text-decoration: none;
	-webkit-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;

	.font-fira-sans & {
		font-weight: 500;
	}

	&:hover,
	&:focus,
	&:active {
		color: #202020;
		outline: 0;
		background-color: #ffca38;
		border-color: #ffca38;
	}

	&.large {
		padding: 0.625em 2.5em;
	}

	&.secondary {
		background: transparent;
		color: $color-primary;
	}

	&.third {
		background: transparent;
		color: $color-primary;
		border: none;
	}
	&.third:hover {
		color: #202020;
		text-decoration: underline;
	}

	&.fourth {
		background: #06b67b;
		color: #fff;
		border: 2px solid #06b67b;
	}
	&.fourth:hover {
		opacity: 0.9;
	}
	&.fifth {
		background: #1a1c1f;
		color: #ffffff;
		border: 2px solid #1a1c1f;
	}
	&.fifth:hover {
		opacity: 0.9;
	}
	&.sixth {
		background: #ffffff;
		color: #1a1c1f;
		border: 2px solid #ffffff;
	}
	&.sixth:hover {
		opacity: 0.9;
	}
}
