html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Red Hat Text', sans-serif !important;
  scroll-behavior: smooth !important; 
}

.client-logo:hover{
color: #06B67B;
}



::selection{
  background-color:#06B67B;
  color: #ffe8aa;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(231, 231, 231); 
  border-radius: 0px;
  background-color: #ffffff;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180); 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1; 
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

ul.work-details-list{    
  display: block;
  width: 100%;
  margin: 0;
  padding: 30px 0px;
  text-align: left;
}

ul.work-details-list>li {
  list-style: none;
  display: inline-block;
  border-radius: 0px;
  background: none;
  margin: 5px;
  margin-top: 10px;
  transition: transform 1s;
  box-shadow: rgb(0 0 0 / 7%) 0px 0px 20px 0px;
}

@media (max-width: 750px) {
  ul.work-details-list{    
    text-align: center;
  }
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.16667;
  text-rendering: optimizeLegibility;


}

p{
  text-rendering: optimizeLegibility;
  margin-bottom: 10px !important;
}

a{
  text-rendering: optimizeLegibility;
}

span{
  text-rendering: optimizeLegibility;
}

div{
  text-rendering: optimizeLegibility
}

.sub-head{
  text-transform: uppercase;
  font-weight: 500;
  color: #06B67B;
  font-size: 18px;
}

.sub-head-bg{
  background-color: #fff;
	display: inline-block;
	padding: 3px 8px;
}

.main-head{
  font-weight:500;
  font-size: 30px;
}

.hero-header{
  font-size: 70px;
  font-weight: 700;
  text-shadow: 3px 3px 0 #0000000e;
}

.hero-container{
  background-color: #06b67b;
  /* background-image: url(../public/images/chanmax.io.jpg); */
  background-size: cover;
  /* min-height: 100VH; */
  min-height: 100VH;
  position: relative;
}


.hero-container-row{
  position: absolute;
  background-image: url(https://res.cloudinary.com/dem8lqxhj/image/upload/c_scale,w_400/v1636558145/Home/home.bg_ovnj0q.svg);
  /* background-color: #108f65; */
  /* background-color: #258060; */
  /* background-color: #000000cb; */
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  /* backdrop-filter: saturate(180%) blur(20px); */
}



.home-hero-button{
  margin-right: 5px;
  margin-top: 10px;
}

.home-hero-button-two{
  margin-left: 5px;
  margin-top: 10px;
}

.cm-p5{
  padding:3rem !important;
}

.cm-p2{
  padding:1rem !important;
  
}

.cm-p-row{
  padding:0 !important;
}

  @media (max-width: 1024px) {
    .hero-container{
      min-height: 800px;} 
      .hero-header{
        font-size: 5vw;
      }
      .main-head{
        font-weight:500;
        font-size: 20px;
      }
      .cm-p5{
        padding:1rem !important;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
      }

      .cm-p2{
        padding:1rem !important;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
      }

      .cm-p-row{
        padding:0.7rem !important;
      }

      .sub-head-bg{
        background-color: #fff;
        display: inline-block;
        padding: 0px;
      }
  }

  /* Additional Media Queries Start*/

  @media (max-width: 1530px){
    .hero-header{
      font-size: 75px
    }
  }

  @media (max-width: 1280px){
    .hero-header{
      font-size: 70px
    }
  }

  @media (max-width: 1195px){
    .hero-header{
      font-size: 65px
    }
  }

  @media (max-width: 1105px){
    .hero-header{
      font-size: 60px
    }
  }

  @media (max-width: 1030px){
    .hero-header{
      font-size: 58px
    }
  }

  @media (max-width: 995px){
    .hero-header{
      font-size: 55px
    }
  }

  @media (max-width: 210px){
    .hero-description{
      font-size: 12px !important
    }

    .site-logo{
      max-width:100px;
    }
  }


    /* Additional Media Queries End */



@media (max-width: 750px) {
  .hero-description{
    font-size: 16px;
  }
  .hero-header{
    font-size: 8vw;
  }
  .home-hero-button{
    margin: 5px;
  }
  
  .home-hero-button-two{
    margin: 5px;
  }
  .hero-container{
    min-height: 100vh;} 
  
}

@media (max-width: 570px) {
  .hero-description{
    font-size: 14px;
  }
  .hero-header{
    font-size: 8vw;
  }
  .home-hero-button{
    margin: 5px;
  }
  
  .home-hero-button-two{
    margin: 5px;
  }
  
}

.home-why-section-sub-title{
  text-transform: uppercase;
  margin-top:20px;
  color:#06B67B;
  font-weight: 500;
  font-size: 14px;
}

.home-why-section-desc{
  font-size: 16px;
}

.home-why-section-button{
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 500 ;
}

.home-service-section-button{
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 500 ;
}

.home-why-section-button:hover{
  color: #06B67B;
}

.service-container{
  margin: 0px auto;
    background: #fff;
    box-shadow: rgb(0 0 0 / 0.01) 0px 3px 20px;
    min-height: 400px;
    margin-bottom: 50px;
    border-radius: 0px;
}



.card{
  background: transparent !important;
  box-shadow: none !important;
  border: none;
}

.card-title{
  font-weight: 500;
  font-size: 16px;
}

.card-text{
  font-size: 15px;
  line-height: 1.5;
}


.feature-project-container{
  background: #ffffff;
  margin-bottom: 50px;
}

.feature-project-bg-image{
  border-radius: 0px;
  object-fit: cover;

}

.testimonials-img{
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: #0000004b 0px 0px 15px -8px !important;
  border:3px solid #ffffff !important;
  padding: 3px !important;
  /* filter: grayscale(1); */

}

.testimonial-card{
  box-shadow: rgb(0 0 0 / 0.01) 0px 3px 20px !important;
  border-radius: 0px !important;
  background-color: #fff !important;
}

.contact-details-card{
  box-shadow: rgb(0 0 0 / 0.01) 0px 3px 20px !important;
  border-radius: 0px !important;
  background-color: #fff !important;
  padding-top: 30px;
}


.home-team-container{
  background-size: cover;
  background-color: #1a1c1ff5;
  min-height: 400px;
  position: relative;
}


.home-team-container-row{
  background-image: url(https://res.cloudinary.com/dem8lqxhj/image/upload/v1636067019/Home/home-team-bg_hjds1z.svg);
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:center;
}


.home-team-heading{
  font-size: 50px;
}


@media (max-width: 750px) {
  .home-team-container{
    min-height: 400px;
  }
  .home-team-heading{
    font-size: 30px;
  }
}

.blog-card{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.blog-card-div:hover{
  cursor: pointer;
  color: #06B67B;
}

.card-img-top{
  border-radius: 0px !important;
}

.work-grid-image{
  border-radius: 0px !important;
  object-fit: cover;
}

.work-grid-card:hover{
color: #06B67B;
cursor: pointer;
}

.home-blog-author-image{
  border-radius: 50px;
  box-shadow: #0000004b 0px 0px 15px -8px !important;
  padding: 3px !important;
}

.home-blog-author-name{
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.home-blog-author-position{
  font-weight: 500;
  font-size: 11px;
  color: #06B67B;
  text-transform: uppercase;
}

.home-blog-container{
  margin: 0px auto;
    background: #fff;
    box-shadow: rgb(0 0 0 / 0.01) 0px 3px 20px;
    min-height: 400px;
    padding-bottom: 50px;
    border-radius: 0px;
}



.home-call-to-action-container{
  background-color: #06b67be7;
  min-height: 300px;
  background-size: cover;
  position: relative;
  border-radius: 0px;
}

.home-call-to-action-container-row{
  position: absolute;
  background-image: url(https://res.cloudinary.com/dem8lqxhj/image/upload/o_10/v1636190198/Home/home-call-min_d4bvez.svg);
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:center;
  border-radius: 0px;
}

@media (max-width: 750px) {
  .home-blog-container,.home-call-to-action-container,.feature-project-container,.footer {
   box-shadow: none;
   border-radius: 0px;
   margin-top: -48px !important;
  } 

  .service-container{
    box-shadow: none;
    border-radius: 0px;
  }

  .home-call-to-action-container-row{
    border-radius: 0px;
  }
}

.footer{
  background-color: rgb(255, 255, 255);
}

.footer-in-container{
  padding-top: 60px !important;
  padding-bottom: 10px !important;
}


@media (max-width: 750px) {
  .footer-in-container{
    /* text-align: center !important; */
  }
  .footer{
    border-top: 1px solid #ebe9e9;
    
  }
}


.footer-heading{
  font-weight: 500;
  font-size: 14px;
  color: #06B67B;
  text-transform: uppercase;
}

.footer-menu{
  font-size: 14px;
  font-weight: 500;
}

.footer-menu:hover{
  color:#06B67B;
}


div > button{
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  border: 2px solid #06B67B;
  border-radius: 0px;
  box-sizing: border-box;
  color: #06B67B;
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.88889em;
  font-weight: 500 !important;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5;
  padding: 0.5em 1.875em;
  text-decoration: none;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
  margin-top: 10px;
  width: 100%;
}

div > button:hover{
  background-color: #ffce52;
    border-color: #ffce52;
    color: #202020;
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="tel"], 
input[type="number"], 
input[type="search"], 
input[type="url"], 
select, textarea{
  border-radius: 0px;
}

.footer-social-icons{
  margin-top: 10px !important;
  cursor: pointer;
  
}

.footer-social-icons-inner:hover{
  filter: saturate(200%)
}

.footer-copyrights{
  font-size: 14px;
  font-weight: 500;
}


.service-data-container{
  position: relative;
  min-height:300px;
  background-color: #ffffff;
  border-radius: 0px
}

.service-data-container-bottom{
  position: relative;
  border-radius: 0px;
  min-height: 150px;
}

.page-header-container{
  min-height: 500px;
  background-size: cover;
  position: relative;
}


.service-data-container-inside{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:center;
}

.page-header-row{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:center;
  background-size: cover;

}

.page-header-margin-top{
  margin-top:3rem
}


@media (max-width: 1024px) {


  .service-data-container-bottom{
    min-height: 100px;
  }


  .page-header-container{
    min-height: 350px;
  }

  .service-data-container{
    position: static;
    min-height:170px;
    padding:20px
  }

  .service-data-container-inside{
    position: static;
  }

  .page-header-margin-top{
    margin-top:7rem
  }

  .page-header-row{
    display: flex;
    align-items:center;
    justify-content:center;
  
  }

}

@media (max-width: 750px) {
  .page-header-container{
    border-radius: 0px !important;
  }

}

.contact-details-container{
  margin-bottom: 100px;
  margin-top: 100px;
}


.contact-get-quote-container{
  margin-bottom: 100px;
  margin-top: 100px;
  max-width:800px;
}

.get-quote-form{
  width: 650px;

}

@media (max-width: 750px) {
  .contact-details-container{
    margin-top: 50px;
  }

}

.contact-form-control {
    display: block !important;
    width: 100% !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 2.5 !important;
    color: #212529 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 0px !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.contact-form-control:focus{
  border: 1px solid #06B67B !important;
  -webkit-box-shadow: 0 0 0 1px #06B67B !important;
  box-shadow: 0 0 0 1px #06B67B !important;
}



/* .contact-form-container{

} */

.contact-form-inside-container{
  padding: 40px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: rgb(0 0 0 / 0.01) 0px 3px 20px;
}

label{
text-transform: uppercase;
font-weight: 500;
line-height: 2.5;
font-size: 14px;
}

@media (max-width: 750px) {
  .contact-form-inside-container{
    margin-top: -60px;
    border-radius: 0px;
    box-shadow: rgb(0 0 0 / 0.01) 0px -30px 20px;
    padding: 20px;
    padding-bottom: 50px;
  }

  .footer-third-menu{
    display: none;
  }
  
}


.blog-details-container-feature-image{
  min-height: 500px;
  background-size: cover;
  position: relative;
}

.work-detail-body-align{
  position: relative;
}

.work-grid-detail-image{
  border-radius: 0px;
  width: 80%;
  height: auto;
}

.work-detail-body-align-inside{
  position: absolute;
  display: flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  width: 100%;
}

.service-details-container-feature-image{
  min-height: 500px;
  background-size: cover;
  position: relative;
}


.blog-details-row{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cm-works-details-margin{
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 750px) {
  .blog-details-container-feature-image{
    min-height: 400px;
  }

  .work-detail-body-align{
  position:static;
}

.cm-works-details-margin{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.cm-works-details-margin-title{
  margin-top: 20px !important;
}
.work-detail-body-align-inside{
  position: static;
}


 
  
}

@media (max-width: 1024px) {
 
    .cm-works-details-margin-title{
      margin-top: 20px !important;
    }
    
  .work-detail-body-align{
    position:static;
  }

  .work-detail-body-align-inside{
    position: static;
  }
    
    .service-details-container-feature-image{
      min-height: 350px;
    }

    .work-grid-detail-image{
      float:left !important;
      width: 100%;
      height: auto;
    }
    
}

.service-row-container{
  min-height: 350px;
  background-color: #fff;
  max-width: 1000px;
  border-radius: 0px;
  padding: 25px 35px;
}

.service-row-container:hover, .service-row-container-2:hover{
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11); */
  cursor: pointer;
  color: #ffffff !important
}

.service-row-col-small{
  min-height: 350px;
  background-size: cover;
  background-position: center center;
  border-radius: 0px;
}




@media (max-width: 750px) {

  .service-row-container:hover{
    box-shadow: none;
  }

  .service-row-col-small{
    border-radius: 0px !important;
    min-height: 250px
  }
  
  .contact-details-box-margin{
    margin-top: -20px !important;
  }
  
}




.cm-mt-page-header{
  margin-top: 120px;
}

@media (max-width: 750px) {
  .cm-mt-page-header{
    margin-top: 80px;
  }
  
}

/* phone number input */
.react-tel-input > .form-control{
  box-shadow: none;
  height: 54px !important;
  border-radius: 0px !important;
  width: 100% !important;
}

.react-tel-input > .flag-dropdown:focus{
  border-left: 2px !important;
  border-bottom: 2px !important;
  border-top: 2px !important;
}
.react-tel-input > .flag-dropdown{
  background-color: white !important;
  height: 96%;
  top: 2% !important;
  left: 1%;
  border: 0px !important;
  border-right: 1px solid #cacaca !important;
}

.react-tel-input > .form-control:focus{
  border: 1px solid #06B67B !important;
  -webkit-box-shadow: 0 0 0 1px #06B67B !important;
  box-shadow: 0 0 0 1px #06B67B !important;
}

.react-tel-input{
  border-radius: 0px !important;
}

.get-quote-title-text{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.border{
  border: 2px solid red !important;
  border-radius: 0px;
  background-color: rgb(253, 218, 218) !important;
}

.border-radius{
  border-radius: 0px;
}

.get-quote-padding{
  padding-left: 90px !important;
  padding-right:90px !important;
  font-weight: 500;
}

@media (max-width: 750px) {
  .get-quote-padding{
    padding-left: 10px !important;
    padding-right:10px !important;
  }

  .cm-testimonial-m{
    margin: 1px !important;
  }
  
}

.get-quote-toast{
  background-color: red !important;
  z-index: 1000;
}

.toast-body{
  font-size: 16px !important;
}


.slick-slide img{
    margin-left: auto !important;
    margin-right: auto !important;
}

.work-detail-button{
  color: #fff !important;
  text-decoration: underline !important;
  text-transform: uppercase !important;
  font-size: 13px;
}

.cm-testimonial-m{
  margin: 0px ;
}



.to-hide-and-show-testimonial-carousal{
  display: none;
}

.to-hide-and-show-testimonial{
  display: block;
}

@media (max-width: 980px) {
  .to-hide-and-show-testimonial-carousal{
    display: inline;
  }

  .to-hide-and-show-testimonial{
    display: none;
  }
}

.text-bg{
  background-color: #1a1c1f9c;
    display: inline-block;
    padding: 5px 5px;
}

.cm-why-us-block-img{
  margin-top:50px ;
}

.cm-whu-us-block-mt{
  margin-top:3rem!important
}

.ft-menu-mb-mt{
  margin-top:0px;
}

.cm-404{
  font-size:120px;
  font-weight: 900;
  color: #06B67B;
}

.cm-thank{
  font-size:90px;
  font-weight: 900;
  color: #06B67B;
}

.error-page-height{
  height: 80vh;
}

@media (max-width: 750px) {
  .cm-why-us-block-img{
    margin-top:10px !important;
  }

  .cm-whu-us-block-mt{
    margin-top:0px !important
  }

  .ft-menu-mb-mt{
    margin-top:15px;
  }
  .cm-404{
    font-size:100px;
  }
  .cm-thank{
    font-size:60px;
  }

  .error-page-height{
    height: 100vh;
  }
  
}

