html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth !important; 
}

::selection{
  background-color:#108F64;
  color: #ffe8aa;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(231, 231, 231); 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180); 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1; 
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: bold;
  line-height: 1.16667;
  text-rendering: optimizeLegibility;


}

p{
  text-rendering: optimizeLegibility;
  margin-bottom: 10px !important;
}

a{
  text-rendering: optimizeLegibility;
}

span{
  text-rendering: optimizeLegibility;
}

div{
  text-rendering: optimizeLegibility
}

.sub-head{
  text-transform: uppercase;
}

.main-head{
  font-weight:600;
}

.hero-header{
  font-size: 50px;
  margin-top: 40px;
}

.hero-container{
  background-color: #108f65;
  background-size: cover;
  min-height: 100VH;
  position: relative;
}


.hero-container-row{
  position: absolute;
  /* background-color: #108f65; */
  /* background-image: url(../public/images/hero.png); */
  background-size: cover;
  height: 100%;
  width: 100%;
  /* backdrop-filter: saturate(180%) blur(20px); */
}



.home-hero-button{
  margin-right: 5px;
  margin-top: 10px;
}

.home-hero-button-two{
  margin-left: 5px;
  margin-top: 10px;
}

  @media (max-width: 1024px) {
    .hero-container{
      min-height: 450px;} 
  }


.hero-description{
  font-size: 18px;
  font-family: 'Niramit', sans-serif;
}

@media (max-width: 750px) {
  .hero-description{
    font-size: 16px;
  }
  .hero-header{
    font-size: 10vw;
    margin-top: 70px;
  }
  .home-hero-button{
    margin-right: 5px;
  }
  
  .home-hero-button-two{
    margin-left: 5px;
  }
  
}

@media (max-width: 570px) {
  .hero-description{
    font-size: 16px;
  }
  .hero-header{
    font-size: 8vw;
    margin-top: 60px;
  }
  .home-hero-button{
    margin-right: 0px;
  }
  
  .home-hero-button-two{
    margin-left: 0px;
  }
  
}

.home-why-section-sub-title{
  text-transform: uppercase;
  margin-top:20px;
  color:#108F64;
  font-weight: 700;
}

.home-why-section-desc{
  font-family: 'Niramit';
  font-size: 16px;
}

.home-why-section-button{
  text-transform: uppercase;
  text-decoration: underline;
}

.service-container{
  margin: 0px auto;
    padding: 34px 0px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 0.01) 0px 3px 20px;
    min-height: 400px;
    margin-bottom: 50px;
    border-radius: 0px;
}



.card{
  background: transparent !important;
  box-shadow: none !important;
  border: none;
}

.card-title{
  font-weight: 600;
}

.card-text{
  font-size: 16px;
  font-family: 'Niramit', sans-serif;
  line-height: 1.5;
}


.feature-project-container{
  background: #ffffff;
  min-height: 500px;
  margin-bottom: 50px;
}

.feature-project-bg-image{
  background-size: contain !important;

}

.testimonials-img{
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: #0000004b 0px 0px 15px -8px !important;
  border:3px solid #ffffff !important;
  padding: 3px !important;

}

.testimonial-card{
  box-shadow: rgb(0 0 0 / 0.01) 0px 3px 20px !important;
  border-radius: 7px !important;
  background-color: #fff !important;
}

@media (max-width: 750px) {
  .testimonial-card{
    border-radius: 0px;
  }
}


.home-team-container{
  background-image: url(/images/3.jpg);
  background-size: cover;
  min-height: 550px;
  position: relative;
}


.home-team-container-row{
  position: absolute;
  background-color: #108f65e7;
  background-size: cover;
  height: 100%;
  width: 100%;
}



.home-team-heading{
  padding-top: 150px !important;
}


@media (max-width: 750px) {
  .home-team-container{
    min-height: 300px;
  }
  .home-team-heading{
    padding-top: 40px !important;
  }
  
}

.blog-card{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.blog-card-div:hover{
  cursor: pointer;
  filter: grayscale(100%);
}

.card-img-top{
  border-radius: 7px !important;
}

.work-grid-image{
  border-radius: 7px !important;
}

.home-blog-author-image{
  border-radius: 50px;
  box-shadow: #0000004b 0px 0px 15px -8px !important;
  padding: 3px !important;
}

.home-blog-author-name{
  font-size: 14px;
  font-weight: 600;
}

.home-blog-author-position{
  font-weight: 500;
  font-size: 13px;
}

.home-blog-container{
  margin: 0px auto;
    padding: 34px 20px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 0.01) 0px 3px 20px;
    min-height: 400px;
    padding-bottom: 50px;
    border-radius: 0px;
}



.home-call-to-action-container{
  min-height: 400px;
  background-image: url(/images/3.jpg);
  background-size: cover;
  position: relative;
}

.home-call-to-action-container-row{
  position: absolute;
  background-color: #108f65ec;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 750px) {
  .home-blog-container,.home-call-to-action-container,.service-container,.feature-project-container,.footer {
   box-shadow: none;
   border-radius: 0px;
   margin-top: -48px !important;
  } 
}

.footer{
  background-color: rgb(255, 255, 255);
}

.footer-in-container{
  padding-top: 60px !important;
  padding-bottom: 10px !important;
}


@media (max-width: 750px) {
  .footer-in-container{
    text-align: center !important;
  }
  .footer{
    border-top: 1px solid #ebe9e9;
    
  }
}


.footer-heading{
  font-weight: 600;
  font-size: 15px;
  color: #108F64;
}

.footer-menu{
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
}

.footer-menu:hover{
  color:#108F64;
}


div > button{
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  border: 2px solid #108F64;
  border-radius: 7px;
  box-sizing: border-box;
  color: #108F64;
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.88889em;
  font-weight: 700 !important;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5;
  padding: 0.5em 1.875em;
  text-decoration: none;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
  margin-top: 10px;
  width: 100%;
  text-transform: uppercase;
}

div > button:hover{
  background-color: #ffce52;
    border-color: #ffce52;
    color: #000000;
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="tel"], 
input[type="number"], 
input[type="search"], 
input[type="url"], 
select, textarea{
  border-radius: 7px;
}

.footer-social-icons{
  margin-top: 10px !important;
  cursor: pointer;
  
}

.footer-social-icons-inner:hover{
  filter: saturate(200%)
}

.footer-copyrights{
  font-size: 14px;
  font-weight: 500;
}


.page-header-container{
  min-height: 500px;
  background-size: cover;
  position: relative;
}


.page-header-row{
  position: absolute;
  background-color: #000000e3;
  /* background-color: #108F64;
  opacity: 0.90; */
   /* top: 0; */
  /* left: 0; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:center;
  backdrop-filter: saturate(180%) blur(20px);

}

.page-header-margin-top{
  margin-top:3rem
}


@media (max-width: 1024px) {
  .page-header-container{
    min-height: 400px;
  }

  .page-header-margin-top{
    margin-top:7rem
  }

  .page-header-row{
    display: flex;
    align-items:center;
    justify-content:center;
  
  }

}

@media (max-width: 750px) {
  .page-header-container{
    border-radius: 0px !important;
  }

}

.contact-details-container{
  margin-bottom: 100px;
  margin-top: 100px;
}


.contact-get-quote-container{
  margin-bottom: 100px;
  margin-top: 100px;
  max-width:800px;
}

.get-quote-form{
  width: 650px;

}

@media (max-width: 750px) {
  .contact-details-container{
    margin-top: 50px;
  }

}

.contact-form-control {
    display: block !important;
    width: 100% !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 2.5 !important;
    color: #212529 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 7px !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.contact-form-control:focus{
  border: 1px solid #108F64 !important;
  -webkit-box-shadow: 0 0 0 1px #108F64 !important;
  box-shadow: 0 0 0 1px #108F64 !important;
}

.contact-form-btn{
  line-height: 2;
}

/* .contact-form-container{

} */

.contact-form-inside-container{
  padding: 40px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: rgb(0 0 0 / 0.01) 0px 3px 20px;
}

label{
text-transform: uppercase;
font-weight: 500;
line-height: 2.5;
}

@media (max-width: 750px) {
  .contact-form-inside-container{
    margin-top: -60px;
    border-radius: 0px;
    box-shadow: rgb(0 0 0 / 0.01) 0px -30px 20px;
    padding: 20px;
  }
  
}


.blog-details-container-feature-image{
  min-height: 500px;
  background-size: cover;
  position: relative;
}

.service-details-container-feature-image{
  min-height: 500px;
  background-size: cover;
  position: relative;
}

.blog-details-row{
  position: absolute;
  background-color: #000000e3;
  /* background-color: #108F64;
  opacity: 0.90; */
   /* top: 0; */
  /* left: 0; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:center;
  backdrop-filter: saturate(180%) blur(20px);
}

@media (max-width: 750px) {
  .blog-details-container-feature-image{
    min-height: 400px;
  }

  .service-details-container-feature-image{
    min-height: 250px;
  }
  
}

.service-row-container{
  min-height: 350px;
  background-color: #fff;
  max-width: 1000px;
}

.service-row-container:hover, .service-row-container-2:hover{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
}

.service-row-col-small-1{
  min-height: 350px;
  background-size: cover;
}

.service-row-col-small-2{
  min-height: 350px;
  background-size: cover;
}


.service-row-container-2{
  min-height: 350px;
  background-color: #108F64;
  max-width: 1000px;

}


@media (max-width: 750px) {

  .service-row-container:hover, .service-row-container-2:hover{
    box-shadow: none;
  }
  
}




.cm-mt-page-header{
  margin-top: 120px;
}

@media (max-width: 750px) {
  .cm-mt-page-header{
    margin-top: 80px;
  }
  
}

/* phone number input */
.react-tel-input > .form-control{
  box-shadow: none;
  height: 54px !important;
  border-radius: 7px !important;
  width: 100% !important;
}

.react-tel-input > .flag-dropdown:focus{
  border-left: 2px !important;
  border-bottom: 2px !important;
  border-top: 2px !important;
}
.react-tel-input > .flag-dropdown{
  background-color: white !important;
  height: 96%;
  top: 2% !important;
  left: 1%;
  border: 0px !important;
  border-right: 1px solid #cacaca !important;
}

.react-tel-input > .form-control:focus{
  border: 1px solid #108F64 !important;
  -webkit-box-shadow: 0 0 0 1px #108f64 !important;
  box-shadow: 0 0 0 1px #108f64 !important;
}

.react-tel-input{
  border-radius: 0px !important;
}

.get-quote-title-text{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.border{
  border: 2px solid red !important;
  border-radius: 7px;
  background-color: rgb(253, 218, 218) !important;
}

.get-quote-padding{
  padding-left: 90px !important;
  padding-right:90px !important;
}

@media (max-width: 750px) {
  .get-quote-padding{
    text-align: center !important;
  }
  
}

.get-quote-toast{
  background-color: red !important;
  z-index: 1000;
}

.toast-body{
  font-size: 16px !important;
}