html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2f3b;
  font-weight: bold;
  line-height: 1.16667;
  text-rendering: optimizeLegibility;


}

p{
  text-rendering: optimizeLegibility;
}

a{
  text-rendering: optimizeLegibility;
}

span{
  text-rendering: optimizeLegibility;
}

.hero-header{
  padding: 1.25em 0 .5em;
  padding-top: 2em;

}

.hero-container{
  background-color: #fff;
  background-image: url(../public/images/hero.svg);
  object-fit: cover;
  min-height: 500px;
}


  @media (max-width: 1024px) {
    .hero-container{
      min-height: 450px;} 
  }


.hero-describtion{
  /* max-width: 800px; */
}

.service-container{
  margin: 0px auto;
    padding: 34px 0px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 0.01) 0px 3px 20px;
    min-height: 400px;
    margin-bottom: 50px;
    border-radius: 10px;
}

@media (max-width: 750px) {
  .service-container{
   box-shadow: none;
   border-radius: 0px;
  } 
}

.card{
  background: transparent !important;
  box-shadow: none !important;
  border: none;
}

.card-title{
  font-weight: 600;
}

.card-text{
  font-size: 13px;
}


.feature-project-container{
  background: #ffffff;
  min-height: 500px;
  margin-bottom: 50px;
}

.testimonials-img{
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: #0000004b 0px 0px 15px -8px !important;
  border:3px solid #ffffff !important;
  padding: 3px !important;

}

.testimonial-card{
  box-shadow: rgb(0 0 0 / 0.01) 0px 3px 20px !important;
  border-radius: 10px !important;
  background-color: #fff !important;
}

@media (max-width: 750px) {
  .testimonial-card{
    border-radius: 0px;
  }
}